.item-piece {
  position: relative;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  cursor: grab;
  user-select: none;
  text-align: center;
  border: 3px solid #2e2e2e;
  padding: 15px;
  /* z-index: 100; */
  /* background-repeat: no-repeat;
  background-blend-mode: luminosity; */
  text-shadow:
    2px 1px 1px #000,
    3px 2px 2px #000,
    -1px 0px 5px #000,
    -1px -1px 14px #000;
}
