.statistic-wrapper, .congraTextWrapper{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(107, 107, 107, .4509803922);
    backdrop-filter: blur(6px);
    transition: all .3s linear;
}

.statistic-container, .congraText{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #fff;
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .6px;
    box-shadow: -1px 0px 17px 1px #858585,2px 2px 15px -4px #838383;
    border-radius: 20px;
}
.congraText{
    color: #c13131;
    font-size: 26px;
}
.img-container{
    width: 250px;
    height: 169px;
    align-self: center;
    margin-bottom: 15px;
    background-size: 250px 169px;
}
.img-info{
    align-self: center;
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    max-width: 460px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-container{    
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 300px;
    gap: 15px;
    margin-bottom: 20px;
}
/* .dont-know-list-container{}
.know-list-container{} */
.heading-list{    margin-bottom: 10px;}
.result-list{    
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 460px;
    padding-right: 10px;
}
.result-list-item{    
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all .3s linear;
    padding-bottom: 3px;
}
.know-list-container{
    padding: 11px;
    background-color:#f2f9f1;
}
.dont-know-list-container {
    background-color: #ffebeb;
    padding: 11px;
}
.dont-know-list-container .result-list-item{
    color: #c13131
}
.know-list-container .result-list-item{
    color: #295f4e
}
.dont-know-list-container .audio-sentances.play>svg{
    stroke: #c13131;
    scale: 1.2;
    transition: all .2s linear;
  }
.know-list-container .audio-sentances.play>svg{
    stroke: #295f4e;
    scale: 1.2;
    transition: all .2s linear;
  }
.statistic-container .continue-button{
    background: rgba(0, 0, 0, 0.8588235294 );
  }
  .statistic-container .continue-button:hover {
    background: rgba(0, 0, 0, 0.5019607843)
  }