.game-result-container {
  width: 902px;
  height: 418px;
  border: 1px solid black;
  background-size: 902px 418px;
  background-blend-mode: luminosity;
  /* background-color: rgba(255, 255, 255, 1); */
  transition: background-color 1s ease-out;
}
.game-result-container.complete {
  background-color: unset;
 
}
.game-result-container-part {
  width: 902px;
    height: 40px;
    border: 1px solid black;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    gap: 2px;
    transition: all .5s;
}
.game-result-container-part-piece {
  /* min-width: 49px; */
  min-height: 40px;
  background-color: #e7e7e7;  
  transition: all 0.2s linear;
  flex-grow: 1;
}

/* .game-result-container-part-piece:has(:nth-child(1)){

  width: fit-content;
  flex-grow: 0;
  background-color: rgba(0,0,0,0);
} */
.incorrect {
  border: 1px solid #c20f0f8a;
}
