.game-page {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 90%;
}
.game-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 580px;
  width: 80%;
  max-width: 1100px;
  border: 3px solid #2e2e2e;
  border-radius: 10px;
  background-color: rgba(126, 126, 126, 0.7);
  padding: 20px;
  /* backdrop-filter: blur(9px); */
  transition: opacity 0.3s;
  opacity: 1;
  /* height: 600px;
  width: 800px; */
}


.game-container-pieces {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 0;
  width: 100%;
  max-width: 900px;
  margin-right: 10px;
  background-color: #e7e7e7;
}

.item-piece {
  position: relative;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  cursor: grab;
  user-select: none;
  text-align: center;
  border: 3px solid #2e2e2e;
  padding: 15px;
  background-color: #9FA8DA;
  margin-left: 2px;
  z-index: 100;
  /* background-repeat: no-repeat;
  background-blend-mode: luminosity; */
  text-shadow:
    2px 1px 1px #000,
    3px 2px 2px #000,
    -1px 0px 5px #000,
    -1px -1px 14px #000;

  /* animation: moveCard 1s ease; */
}
.item-piece:hover {
  border: 3px solid #c2770f8a;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.incorrect {
  border: 3px solid #c20f0f8a;
}
.invisible {
  display: none;
}
@keyframes moveCard {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}
.item-piece span{
  background-color: #9FA8DA;
}
.item-piece span.before{
  /* position: absolute;
  width: 21px;
  height: 21px;
  top: 50%;
  left: -4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #e1e1e1;;
  z-index: 1;
  opacity: 1;
  pointer-events: none; */
  width: 16px;
  height: 16px;
  position: absolute;
  top: 55%;
  left: -4.5px;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: #e7e7e7;
  transform: translateY(-50%);
  border-top: 3px solid #2e2e2e;
  border-right: 3px solid #2e2e2e;
  border-bottom: 3px solid #2e2e2e;
  pointer-events: none; 
}
.after{
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 5;
  top: 1em;
  right: -17px;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  border-top: 3px solid #2e2e2e;
    border-right: 3px solid #2e2e2e;
    border-bottom: 3px solid #2e2e2e;
    pointer-events: none; 
}
.item-piece:hover .after, .item-piece:hover .before {  
  border-top: 3px solid #c2770f8a;
  border-right: 3px solid #c2770f8a;
  border-bottom: 3px solid #c2770f8a;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}