@font-face {
  font-family: "MadimiOne";
  src: url("fonts/ResotE-Rose-89c1.woff") format("woff");
}

@font-face {
  font-family: "BrandaYolq";
  src: url("fonts/Branda-yolq.ttf") format("truetype");
}
