@import 'lib/normalize.css';
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./img/sashaP.jpg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
